.barra{
    border: gray 30px solid;
    background-color:gray;
}
.buttonvoltar{
    border-radius: 10px;
    background-color:rgba(45, 45, 45);
}
.aaa{
    position: fixed;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    height: 350px;
}
